<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="ITSM StyleCop Rules" Description="Code analysis rules for ITSM backend project." ToolsVersion="15.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <!-- Enable all StyleCop rules by default -->
    <Rule Id="SA0001" Action="Error" />
    <Rule Id="SA1000" Action="Error" />
    <Rule Id="SA1001" Action="Error" />
    <Rule Id="SA1002" Action="Error" />
    <Rule Id="SA1003" Action="Error" />
    <Rule Id="SA1004" Action="Error" />
    <Rule Id="SA1005" Action="Error" />
    <Rule Id="SA1006" Action="Error" />
    <Rule Id="SA1007" Action="Error" />
    <Rule Id="SA1008" Action="Error" />
    <Rule Id="SA1009" Action="Error" />
    <Rule Id="SA1010" Action="Error" />
    <Rule Id="SA1011" Action="Error" />
    <Rule Id="SA1012" Action="Error" />
    <Rule Id="SA1013" Action="Error" />
    <Rule Id="SA1014" Action="Error" />
    <Rule Id="SA1015" Action="Error" />
    <Rule Id="SA1016" Action="Error" />
    <Rule Id="SA1017" Action="Error" />
    <Rule Id="SA1018" Action="Error" />
    <Rule Id="SA1019" Action="Error" />
    <Rule Id="SA1020" Action="Error" />
    <Rule Id="SA1021" Action="Error" />
    <Rule Id="SA1022" Action="Error" />
    <Rule Id="SA1023" Action="Error" />
    <Rule Id="SA1024" Action="Error" />
    <Rule Id="SA1025" Action="Error" />
    <Rule Id="SA1026" Action="Error" />
    <Rule Id="SA1027" Action="Error" />
    <Rule Id="SA1028" Action="Error" />
    <Rule Id="SA1100" Action="Error" />
    <Rule Id="SA1101" Action="Error" />
    <Rule Id="SA1102" Action="Error" />
    <Rule Id="SA1103" Action="Error" />
    <Rule Id="SA1104" Action="Error" />
    <Rule Id="SA1105" Action="Error" />
    <Rule Id="SA1106" Action="Error" />
    <Rule Id="SA1107" Action="Error" />
    <Rule Id="SA1108" Action="Error" />
    <Rule Id="SA1109" Action="Error" />
    <Rule Id="SA1110" Action="Error" />
    <Rule Id="SA1111" Action="Error" />
    <Rule Id="SA1112" Action="Error" />
    <Rule Id="SA1113" Action="Error" />
    <Rule Id="SA1114" Action="Error" />
    <Rule Id="SA1115" Action="Error" />
    <Rule Id="SA1116" Action="Error" />
    <Rule Id="SA1117" Action="Error" />
    <Rule Id="SA1118" Action="Error" />
    <Rule Id="SA1119" Action="Error" />
    <Rule Id="SA1120" Action="Error" />
    <Rule Id="SA1121" Action="Error" />
    <Rule Id="SA1122" Action="Error" />
    <Rule Id="SA1123" Action="Error" />
    <Rule Id="SA1124" Action="Error" />
    <Rule Id="SA1125" Action="Error" />
    <Rule Id="SA1126" Action="Error" />
    <Rule Id="SA1127" Action="Error" />
    <Rule Id="SA1128" Action="Error" />
    <Rule Id="SA1129" Action="Error" />
    <Rule Id="SA1130" Action="Error" />
    <Rule Id="SA1131" Action="Error" />
    <Rule Id="SA1132" Action="Error" />
    <Rule Id="SA1133" Action="Error" />
    <Rule Id="SA1134" Action="Error" />
    <Rule Id="SA1135" Action="Error" />
    <Rule Id="SA1136" Action="Error" />
    <Rule Id="SA1137" Action="Error" />
    <Rule Id="SA1138" Action="Error" />
    <Rule Id="SA1139" Action="Error" />
    <Rule Id="SA1140" Action="Error" />
    <Rule Id="SA1141" Action="Error" />
    <Rule Id="SA1142" Action="Error" />
    <Rule Id="SA1200" Action="Error" />
    <Rule Id="SA1201" Action="Error" />
    <Rule Id="SA1202" Action="Error" />
    <Rule Id="SA1203" Action="Error" />
    <Rule Id="SA1204" Action="Error" />
    <Rule Id="SA1205" Action="Error" />
    <Rule Id="SA1206" Action="Error" />
    <Rule Id="SA1207" Action="Error" />
    <Rule Id="SA1208" Action="Error" />
    <Rule Id="SA1209" Action="Error" />
    <Rule Id="SA1210" Action="Error" />
    <Rule Id="SA1211" Action="Error" />
    <Rule Id="SA1212" Action="Error" />
    <Rule Id="SA1213" Action="Error" />
    <Rule Id="SA1214" Action="Error" />
    <Rule Id="SA1215" Action="Error" />
    <Rule Id="SA1216" Action="Error" />
    <Rule Id="SA1217" Action="Error" />
    <Rule Id="SA1218" Action="Error" />
    <Rule Id="SA1219" Action="Error" />
    <Rule Id="SA1220" Action="Error" />
    <Rule Id="SA1221" Action="Error" />
    <Rule Id="SA1222" Action="Error" />
    <Rule Id="SA1223" Action="Error" />
    <Rule Id="SA1224" Action="Error" />
    <Rule Id="SA1225" Action="Error" />
    <Rule Id="SA1226" Action="Error" />
    <Rule Id="SA1227" Action="Error" />
    <Rule Id="SA1228" Action="Error" />
    <Rule Id="SA1229" Action="Error" />
    <Rule Id="SA1230" Action="Error" />
    <Rule Id="SA1231" Action="Error" />
    <Rule Id="SA1232" Action="Error" />
    <Rule Id="SA1233" Action="Error" />
    <Rule Id="SA1234" Action="Error" />
    <Rule Id="SA1235" Action="Error" />
    <Rule Id="SA1236" Action="Error" />
    <Rule Id="SA1237" Action="Error" />
    <Rule Id="SA1238" Action="Error" />
    <Rule Id="SA1239" Action="Error" />
    <Rule Id="SA1240" Action="Error" />
    <Rule Id="SA1241" Action="Error" />
    <Rule Id="SA1242" Action="Error" />
    <Rule Id="SA1243" Action="Error" />
    <Rule Id="SA1244" Action="Error" />
    <Rule Id="SA1245" Action="Error" />
    <Rule Id="SA1246" Action="Error" />
    <Rule Id="SA1247" Action="Error" />
    <Rule Id="SA1248" Action="Error" />
    <Rule Id="SA1249" Action="Error" />
    <Rule Id="SA1250" Action="Error" />
    <Rule Id="SA1251" Action="Error" />
    <Rule Id="SA1252" Action="Error" />
    <Rule Id="SA1253" Action="Error" />
    <Rule Id="SA1254" Action="Error" />
    <Rule Id="SA1255" Action="Error" />
    <Rule Id="SA1256" Action="Error" />
    <Rule Id="SA1257" Action="Error" />
    <Rule Id="SA1258" Action="Error" />
    <Rule Id="SA1259" Action="Error" />
    <Rule Id="SA1260" Action="Error" />
    <Rule Id="SA1261" Action="Error" />
    <Rule Id="SA1262" Action="Error" />
    <Rule Id="SA1263" Action="Error" />
    <Rule Id="SA1264" Action="Error" />
    <Rule Id="SA1265" Action="Error" />
    <Rule Id="SA1266" Action="Error" />
    <Rule Id="SA1267" Action="Error" />
    <Rule Id="SA1268" Action="Error" />
    <Rule Id="SA1269" Action="Error" />
    <Rule Id="SA1270" Action="Error" />
    <Rule Id="SA1271" Action="Error" />
    <Rule Id="SA1272" Action="Error" />
    <Rule Id="SA1273" Action="Error" />
    <Rule Id="SA1274" Action="Error" />
    <Rule Id="SA1275" Action="Error" />
    <Rule Id="SA1276" Action="Error" />
    <Rule Id="SA1277" Action="Error" />
    <Rule Id="SA1278" Action="Error" />
    <Rule Id="SA1279" Action="Error" />
    <Rule Id="SA1280" Action="Error" />
    <Rule Id="SA1281" Action="Error" />
    <Rule Id="SA1282" Action="Error" />
    <Rule Id="SA1283" Action="Error" />
    <Rule Id="SA1284" Action="Error" />
    <Rule Id="SA1285" Action="Error" />
    <Rule Id="SA1286" Action="Error" />
    <Rule Id="SA1287" Action="Error" />
    <Rule Id="SA1288" Action="Error" />
    <Rule Id="SA1289" Action="Error" />
    <Rule Id="SA1290" Action="Error" />
    <Rule Id="SA1291" Action="Error" />
    <Rule Id="SA1292" Action="Error" />
    <Rule Id="SA1293" Action="Error" />
    <Rule Id="SA1294" Action="Error" />
    <Rule Id="SA1295" Action="Error" />
    <Rule Id="SA1296" Action="Error" />
    <Rule Id="SA1297" Action="Error" />
    <Rule Id="SA1298" Action="Error" />
    <Rule Id="SA1299" Action="Error" />
    <Rule Id="SA1300" Action="Error" />
    <Rule Id="SA1301" Action="Error" />
    <Rule Id="SA1302" Action="Error" />
    <Rule Id="SA1303" Action="Error" />
    <Rule Id="SA1304" Action="Error" />
    <Rule Id="SA1305" Action="Error" />
    <Rule Id="SA1306" Action="Error" />
    <Rule Id="SA1307" Action="Error" />
    <Rule Id="SA1308" Action="Error" />
    <Rule Id="SA1309" Action="Error" />
    <Rule Id="SA1310" Action="Error" />
    <Rule Id="SA1311" Action="Error" />
    <Rule Id="SA1312" Action="Error" />
    <Rule Id="SA1313" Action="Error" />
    <Rule Id="SA1314" Action="Error" />
    <Rule Id="SA1315" Action="Error" />
    <Rule Id="SA1316" Action="Error" />
    <Rule Id="SA1317" Action="Error" />
    <Rule Id="SA1318" Action="Error" />
    <Rule Id="SA1319" Action="Error" />
    <Rule Id="SA1320" Action="Error" />
    <Rule Id="SA1321" Action="Error" />
    <Rule Id="SA1322" Action="Error" />
    <Rule Id="SA1323" Action="Error" />
    <Rule Id="SA1324" Action="Error" />
    <Rule Id="SA1325" Action="Error" />
    <Rule Id="SA1326" Action="Error" />
    <Rule Id="SA1327" Action="Error" />
    <Rule Id="SA1328" Action="Error" />
    <Rule Id="SA1329" Action="Error" />
    <Rule Id="SA1330" Action="Error" />
    <Rule Id="SA1331" Action="Error" />
    <Rule Id="SA1332" Action="Error" />
    <Rule Id="SA1333" Action="Error" />
    <Rule Id="SA1334" Action="Error" />
    <Rule Id="SA1335" Action="Error" />
    <Rule Id="SA1336" Action="Error" />
    <Rule Id="SA1337" Action="Error" />
    <Rule Id="SA1338" Action="Error" />
    <Rule Id="SA1339" Action="Error" />
    <Rule Id="SA1340" Action="Error" />
    <Rule Id="SA1341" Action="Error" />
    <Rule Id="SA1342" Action="Error" />
    <Rule Id="SA1343" Action="Error" />
    <Rule Id="SA1344" Action="Error" />
    <Rule Id="SA1345" Action="Error" />
    <Rule Id="SA1346" Action="Error" />
    <Rule Id="SA1347" Action="Error" />
    <Rule Id="SA1348" Action="Error" />
    <Rule Id="SA1349" Action="Error" />
    <Rule Id="SA1350" Action="Error" />
    <Rule Id="SA1351" Action="Error" />
    <Rule Id="SA1352" Action="Error" />
    <Rule Id="SA1353" Action="Error" />
    <Rule Id="SA1354" Action="Error" />
    <Rule Id="SA1355" Action="Error" />
    <Rule Id="SA1356" Action="Error" />
    <Rule Id="SA1357" Action="Error" />
    <Rule Id="SA1358" Action="Error" />
    <Rule Id="SA1359" Action="Error" />
    <Rule Id="SA1360" Action="Error" />
    <Rule Id="SA1361" Action="Error" />
    <Rule Id="SA1362" Action="Error" />
    <Rule Id="SA1363" Action="Error" />
    <Rule Id="SA1364" Action="Error" />
    <Rule Id="SA1365" Action="Error" />
    <Rule Id="SA1366" Action="Error" />
    <Rule Id="SA1367" Action="Error" />
    <Rule Id="SA1368" Action="Error" />
    <Rule Id="SA1369" Action="Error" />
    <Rule Id="SA1370" Action="Error" />
    <Rule Id="SA1371" Action="Error" />
    <Rule Id="SA1372" Action="Error" />
    <Rule Id="SA1373" Action="Error" />
    <Rule Id="SA1374" Action="Error" />
    <Rule Id="SA1375" Action="Error" />
    <Rule Id="SA1376" Action="Error" />
    <Rule Id="SA1377" Action="Error" />
    <Rule Id="SA1378" Action="Error" />
    <Rule Id="SA1379" Action="Error" />
    <Rule Id="SA1380" Action="Error" />
    <Rule Id="SA1381" Action="Error" />
    <Rule Id="SA1382" Action="Error" />
    <Rule Id="SA1383" Action="Error" />
    <Rule Id="SA1384" Action="Error" />
    <Rule Id="SA1385" Action="Error" />
    <Rule Id="SA1386" Action="Error" />
    <Rule Id="SA1387" Action="Error" />
    <Rule Id="SA1388" Action="Error" />
    <Rule Id="SA1389" Action="Error" />
    <Rule Id="SA1390" Action="Error" />
    <Rule Id="SA1391" Action="Error" />
    <Rule Id="SA1392" Action="Error" />
    <Rule Id="SA1393" Action="Error" />
    <Rule Id="SA1394" Action="Error" />
    <Rule Id="SA1395" Action="Error" />
    <Rule Id="SA1396" Action="Error" />
    <Rule Id="SA1397" Action="Error" />
    <Rule Id="SA1398" Action="Error" />
    <Rule Id="SA1399" Action="Error" />
    <Rule Id="SA1400" Action="Error" />
    <Rule Id="SA1401" Action="Error" />
    <Rule Id="SA1402" Action="Error" />
    <Rule Id="SA1403" Action="Error" />
    <Rule Id="SA1404" Action="Error" />
    <Rule Id="SA1405" Action="Error" />
    <Rule Id="SA1406" Action="Error" />
    <Rule Id="SA1407" Action="Error" />
    <Rule Id="SA1408" Action="Error" />
    <Rule Id="SA1409" Action="Error" />
    <Rule Id="SA1410" Action="Error" />
    <Rule Id="SA1411" Action="Error" />
    <Rule Id="SA1412" Action="Error" />
    <Rule Id="SA1413" Action="Error" />
    <Rule Id="SA1414" Action="Error" />
    <Rule Id="SA1415" Action="Error" />
    <Rule Id="SA1416" Action="Error" />
    <Rule Id="SA1417" Action="Error" />
    <Rule Id="SA1418" Action="Error" />
    <Rule Id="SA1419" Action="Error" />
    <Rule Id="SA1420" Action="Error" />
    <Rule Id="SA1421" Action="Error" />
    <Rule Id="SA1422" Action="Error" />
    <Rule Id="SA1423" Action="Error" />
    <Rule Id="SA1424" Action="Error" />
    <Rule Id="SA1425" Action="Error" />
    <Rule Id="SA1426" Action="Error" />
    <Rule Id="SA1427" Action="Error" />
    <Rule Id="SA1428" Action="Error" />
    <Rule Id="SA1429" Action="Error" />
    <Rule Id="SA1430" Action="Error" />
    <Rule Id="SA1431" Action="Error" />
    <Rule Id="SA1432" Action="Error" />
    <Rule Id="SA1433" Action="Error" />
    <Rule Id="SA1434" Action="Error" />
    <Rule Id="SA1435" Action="Error" />
    <Rule Id="SA1436" Action="Error" />
    <Rule Id="SA1437" Action="Error" />
    <Rule Id="SA1438" Action="Error" />
    <Rule Id="SA1439" Action="Error" />
    <Rule Id="SA1440" Action="Error" />
    <Rule Id="SA1441" Action="Error" />
    <Rule Id="SA1442" Action="Error" />
    <Rule Id="SA1443" Action="Error" />
    <Rule Id="SA1444" Action="Error" />
    <Rule Id="SA1445" Action="Error" />
    <Rule Id="SA1446" Action="Error" />
    <Rule Id="SA1447" Action="Error" />
    <Rule Id="SA1448" Action="Error" />
    <Rule Id="SA1449" Action="Error" />
    <Rule Id="SA1450" Action="Error" />
    <Rule Id="SA1451" Action="Error" />
    <Rule Id="SA1452" Action="Error" />
    <Rule Id="SA1453" Action="Error" />
    <Rule Id="SA1454" Action="Error" />
    <Rule Id="SA1455" Action="Error" />
    <Rule Id="SA1456" Action="Error" />
    <Rule Id="SA1457" Action="Error" />
    <Rule Id="SA1458" Action="Error" />
    <Rule Id="SA1459" Action="Error" />
    <Rule Id="SA1460" Action="Error" />
    <Rule Id="SA1461" Action="Error" />
    <Rule Id="SA1462" Action="Error" />
    <Rule Id="SA1463" Action="Error" />
    <Rule Id="SA1464" Action="Error" />
    <Rule Id="SA1465" Action="Error" />
    <Rule Id="SA1466" Action="Error" />
    <Rule Id="SA1467" Action="Error" />
    <Rule Id="SA1468" Action="Error" />
    <Rule Id="SA1469" Action="Error" />
    <Rule Id="SA1470" Action="Error" />
    <Rule Id="SA1471" Action="Error" />
    <Rule Id="SA1472" Action="Error" />
    <Rule Id="SA1473" Action="Error" />
    <Rule Id="SA1474" Action="Error" />
    <Rule Id="SA1475" Action="Error" />
    <Rule Id="SA1476" Action="Error" />
    <Rule Id="SA1477" Action="Error" />
    <Rule Id="SA1478" Action="Error" />
    <Rule Id="SA1479" Action="Error" />
    <Rule Id="SA1480" Action="Error" />
    <Rule Id="SA1481" Action="Error" />
    <Rule Id="SA1482" Action="Error" />
    <Rule Id="SA1483" Action="Error" />
    <Rule Id="SA1484" Action="Error" />
    <Rule Id="SA1485" Action="Error" />
    <Rule Id="SA1486" Action="Error" />
    <Rule Id="SA1487" Action="Error" />
    <Rule Id="SA1488" Action="Error" />
    <Rule Id="SA1489" Action="Error" />
    <Rule Id="SA1490" Action="Error" />
    <Rule Id="SA1491" Action="Error" />
    <Rule Id="SA1492" Action="Error" />
    <Rule Id="SA1493" Action="Error" />
    <Rule Id="SA1494" Action="Error" />
    <Rule Id="SA1495" Action="Error" />
    <Rule Id="SA1496" Action="Error" />
    <Rule Id="SA1497" Action="Error" />
    <Rule Id="SA1498" Action="Error" />
    <Rule Id="SA1499" Action="Error" />
    <Rule Id="SA1500" Action="Error" />
    <Rule Id="SA1501" Action="Error" />
    <Rule Id="SA1502" Action="Error" />
    <Rule Id="SA1503" Action="Error" />
    <Rule Id="SA1504" Action="Error" />
    <Rule Id="SA1505" Action="Error" />
    <Rule Id="SA1506" Action="Error" />
    <Rule Id="SA1507" Action="Error" />
    <Rule Id="SA1508" Action="Error" />
    <Rule Id="SA1509" Action="Error" />
    <Rule Id="SA1510" Action="Error" />
    <Rule Id="SA1511" Action="Error" />
    <Rule Id="SA1512" Action="Error" />
    <Rule Id="SA1513" Action="Error" />
    <Rule Id="SA1514" Action="Error" />
    <Rule Id="SA1515" Action="Error" />
    <Rule Id="SA1516" Action="Error" />
    <Rule Id="SA1517" Action="Error" />
    <Rule Id="SA1518" Action="Error" />
    <Rule Id="SA1519" Action="Error" />
    <Rule Id="SA1520" Action="Error" />
    <Rule Id="SA1521" Action="Error" />
    <Rule Id="SA1522" Action="Error" />
    <Rule Id="SA1523" Action="Error" />
    <Rule Id="SA1524" Action="Error" />
    <Rule Id="SA1525" Action="Error" />
    <Rule Id="SA1526" Action="Error" />
    <Rule Id="SA1527" Action="Error" />
    <Rule Id="SA1528" Action="Error" />
    <Rule Id="SA1529" Action="Error" />
    <Rule Id="SA1530" Action="Error" />
    <Rule Id="SA1531" Action="Error" />
    <Rule Id="SA1532" Action="Error" />
    <Rule Id="SA1533" Action="Error" />
    <Rule Id="SA1534" Action="Error" />
    <Rule Id="SA1535" Action="Error" />
    <Rule Id="SA1536" Action="Error" />
    <Rule Id="SA1537" Action="Error" />
    <Rule Id="SA1538" Action="Error" />
    <Rule Id="SA1539" Action="Error" />
    <Rule Id="SA1540" Action="Error" />
    <Rule Id="SA1541" Action="Error" />
    <Rule Id="SA1542" Action="Error" />
    <Rule Id="SA1543" Action="Error" />
    <Rule Id="SA1544" Action="Error" />
    <Rule Id="SA1545" Action="Error" />
    <Rule Id="SA1546" Action="Error" />
    <Rule Id="SA1547" Action="Error" />
    <Rule Id="SA1548" Action="Error" />
    <Rule Id="SA1549" Action="Error" />
    <Rule Id="SA1550" Action="Error" />
    <Rule Id="SA1551" Action="Error" />
    <Rule Id="SA1552" Action="Error" />
    <Rule Id="SA1553" Action="Error" />
    <Rule Id="SA1554" Action="Error" />
    <Rule Id="SA1555" Action="Error" />
    <Rule Id="SA1556" Action="Error" />
    <Rule Id="SA1557" Action="Error" />
    <Rule Id="SA1558" Action="Error" />
    <Rule Id="SA1559" Action="Error" />
    <Rule Id="SA1560" Action="Error" />
    <Rule Id="SA1561" Action="Error" />
    <Rule Id="SA1562" Action="Error" />
    <Rule Id="SA1563" Action="Error" />
    <Rule Id="SA1564" Action="Error" />
    <Rule Id="SA1565" Action="Error" />
    <Rule Id="SA1566" Action="Error" />
    <Rule Id="SA1567" Action="Error" />
    <Rule Id="SA1568" Action="Error" />
    <Rule Id="SA1569" Action="Error" />
    <Rule Id="SA1570" Action="Error" />
    <Rule Id="SA1571" Action="Error" />
    <Rule Id="SA1572" Action="Error" />
    <Rule Id="SA1573" Action="Error" />
    <Rule Id="SA1574" Action="Error" />
    <Rule Id="SA1575" Action="Error" />
    <Rule Id="SA1576" Action="Error" />
    <Rule Id="SA1577" Action="Error" />
    <Rule Id="SA1578" Action="Error" />
    <Rule Id="SA1579" Action="Error" />
    <Rule Id="SA1580" Action="Error" />
    <Rule Id="SA1581" Action="Error" />
    <Rule Id="SA1582" Action="Error" />
    <Rule Id="SA1583" Action="Error" />
    <Rule Id="SA1584" Action="Error" />
    <Rule Id="SA1585" Action="Error" />
    <Rule Id="SA1586" Action="Error" />
    <Rule Id="SA1587" Action="Error" />
    <Rule Id="SA1588" Action="Error" />
    <Rule Id="SA1589" Action="Error" />
    <Rule Id="SA1590" Action="Error" />
    <Rule Id="SA1591" Action="Error" />
    <Rule Id="SA1592" Action="Error" />
    <Rule Id="SA1593" Action="Error" />
    <Rule Id="SA1594" Action="Error" />
    <Rule Id="SA1595" Action="Error" />
    <Rule Id="SA1596" Action="Error" />
    <Rule Id="SA1597" Action="Error" />
    <Rule Id="SA1598" Action="Error" />
    <Rule Id="SA1599" Action="Error" />
    <Rule Id="SA1600" Action="Error" />
    <Rule Id="SA1601" Action="Error" />
    <Rule Id="SA1602" Action="Error" />
    <Rule Id="SA1603" Action="Error" />
    <Rule Id="SA1604" Action="Error" />
    <Rule Id="SA1605" Action="Error" />
    <Rule Id="SA1606" Action="Error" />
    <Rule Id="SA1607" Action="Error" />
    <Rule Id="SA1608" Action="Error" />
    <Rule Id="SA1609" Action="Error" />
    <Rule Id="SA1610" Action="Error" />
    <Rule Id="SA1611" Action="Error" />
    <Rule Id="SA1612" Action="Error" />
    <Rule Id="SA1613" Action="Error" />
    <Rule Id="SA1614" Action="Error" />
    <Rule Id="SA1615" Action="Error" />
    <Rule Id="SA1616" Action="Error" />
    <Rule Id="SA1617" Action="Error" />
    <Rule Id="SA1618" Action="Error" />
    <Rule Id="SA1619" Action="Error" />
    <Rule Id="SA1620" Action="Error" />
    <Rule Id="SA1621" Action="Error" />
    <Rule Id="SA1622" Action="Error" />
    <Rule Id="SA1623" Action="Error" />
    <Rule Id="SA1624" Action="Error" />
    <Rule Id="SA1625" Action="Error" />
    <Rule Id="SA1626" Action="Error" />
    <Rule Id="SA1627" Action="Error" />
    <Rule Id="SA1628" Action="Error" />
    <Rule Id="SA1629" Action="Error" />
    <Rule Id="SA1630" Action="Error" />
    <Rule Id="SA1631" Action="Error" />
    <Rule Id="SA1632" Action="Error" />
    <Rule Id="SA1633" Action="Error" />
    <Rule Id="SA1634" Action="Error" />
    <Rule Id="SA1635" Action="Error" />
    <Rule Id="SA1636" Action="Error" />
    <Rule Id="SA1637" Action="Error" />
    <Rule Id="SA1638" Action="Error" />
    <Rule Id="SA1639" Action="Error" />
    <Rule Id="SA1640" Action="Error" />
    <Rule Id="SA1641" Action="Error" />
    <Rule Id="SA1642" Action="Error" />
    <Rule Id="SA1643" Action="Error" />
    <Rule Id="SA1644" Action="Error" />
    <Rule Id="SA1645" Action="Error" />
    <Rule Id="SA1646" Action="Error" />
    <Rule Id="SA1647" Action="Error" />
    <Rule Id="SA1648" Action="Error" />
    <Rule Id="SA1649" Action="Error" />
    <Rule Id="SA1650" Action="Error" />
    <Rule Id="SA1651" Action="Error" />
    <Rule Id="SA1652" Action="Error" />
  </Rules>
</RuleSet>